/*@font-face {
    font-family: Inter;
    src: url('/fonts/Inter_18pt-Regular.ttf');
}

html {
    font-family: Inter;
}*/

@font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Light.ttf');
}

pre,
pre code,
code {
    font-family: 'JetBrainsMono', monospace;
}
