@font-face {
    font-family: Menlo;
    src: url('/fonts/Menlo.ttc');
}

html {
    font-family: Menlo;
}

@font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Regular.ttf');
}

pre,
pre code,
code {
    font-family: 'JetBrainsMono', monospace;
}
