@font-face {
    font-family: MozillaText;
    src: url('/fonts/MozillaText-Light.ttf');
}

html {
    font-family: MozillaText;
}

@font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Light.ttf');
}

pre,
pre code,
code {
    font-family: 'JetBrainsMono', monospace;
}
